{% extends './form-header.html' %}
{% block title %} Add {% endblock %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<section class="p-4 flex justify-center bg-slate-50">
	<!-- Form to Add Item -->
	<form method="post" enctype="multipart/form-data" class="py-4 px-4 bg-white border rounded-xl shadow-lg">
		{% csrf_token %}
		<h2 class="">Add New Item</h2>

		<div class="flex space-x-2">
			<!-- Image -->
			<div class="flex flex-col text-start justify-end w-1/2">
				{{ form.image.errors }}
				<div class="flex justify-center w-full h-64 border">
					<img id="imgPreview" src="" class="object-contain" alt="">
				</div>
				<div class="flex-none">
					<label for="id_image" class="block text-sm font-medium text-gray-600">Image</label>
					<!-- <input type="file" class="file-input file-input-bordered w-full max-w-xs" id="id_image" name="image"
						accept="image/*" onchange="PreviewImage()"> -->
					{% render_field form.image id="id_image" onchange="PreviewImage()" class="file-input file-input-bordered w-full max-w-xs" %}
				</div>
			</div>

			<div class="w-1/2">
				<!-- Item Name -->
				<div class="">
					{{ form.name.errors }}
					<label for="id_name" class="block text-sm font-medium text-gray-600">Item Name</label>
					{% render_field form.name class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" %}
				</div>

				<!-- Category -->
				<div class="flex justify-between space-x-4">
					<div class="">
						{{ form.category.errors }}
						<label for="id_category" class="block text-sm font-medium text-gray-600">Category</label>
						{% if categories.exists %}
						<select name="category" id="id_category"
							class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
							onchange="toggleNewCategoryInput()">
							<option value="" selected disabled>Select a category</option>
							{% for category in categories %}
							<option value="{{ category.id }}">{{ category.name }}</option>
							{% endfor %}
						</select>
						{% else %}
						<p class="text-sm text-gray-600">No categories available. Please add a new category.</p>
						{% endif %}
						<button type="button" id="resetCategoryBtn"
							class="mt-2 p-2 bg-gray-300 text-gray-800 rounded-md hover:bg-gray-400">
							Unselect Category
						</button>
					</div>
					<!-- Add New Category -->
					<div class="mb-3">
						<label for="id_new_category" class="block text-sm font-medium text-gray-600">Or Add New
							Category</label>
						<input type="text" name="new_category"
							class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
							id="id_new_category" placeholder="Enter new category name (optional)" />
					</div>
				</div>

				<!-- Other Fields -->
				<div class="">
					{{ form.stock.errors }}
					<label for="id_stock" class="block text-sm font-medium text-gray-600">Stock</label>
					{% render_field form.stock min=0 value=0 class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" %}
				</div>
				<div class="">
					{{ form.price.errors }}
					<label for="id_price" class="block text-sm font-medium text-gray-600">Price</label>
					{% render_field form.price min=0 value=0 class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" %}
				</div>
			</div>
		</div>

		<!-- Description -->
		<div class="mb-4">
			{{ form.description.errors }}
			<label for="id_description" class="block text-sm font-medium text-gray-600">Description</label>
			{% render_field form.description class="resize-none mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" %}
		</div>

		<!-- Submit Button -->
		<button type="submit" id="btnSubmitItems" onmouseover="submitItemsHover(0)" onmouseout="submitItemsHover(1)"
			class="w-full py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
			Save Item
		</button>
	</form>
</section>

{% if form.errors %}
<div class="">
	<ul>
		{% for field, errors in form.errors.items %}
		{% for error in errors %}
		<li>{{ field }}: {{ error }}</li>
		{% endfor %}
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock %}