{% extends '../dashboard/dashboard.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}
<div class="flex justify-between mb-2">
    <h1 class="self-center font-bold text-lg">Item Dashboard</h3>
        <a href="{% url 'tokom:add_item' %}" class="btn btn-success text-white">
            Add New Item +
        </a>
    </div>
    <div id="barangGrid" class="ag-theme-quartz shadow-lg" style="height: 540px;"></div>
    
    
<script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
<script type="module">
    class CustomButtonComponent {
    eGui;
    eButtonEdit;
    eButtonDelete;
    eventListenerEdit;
    eventListenerDelete;

    init(params) {
        this.eGui = document.createElement('div');
        this.eGui.className = 'flex justify-evenly';

        // Edit button setup
        this.eButtonEdit = document.createElement('button');
        this.eButtonEdit.className = 'px-2 rounded-md bg-blue-500 text-blue-50 hover:bg-blue-600 hover:text-zinc-900 hover-anim';
        const iconEdit = document.createElement('i');
        iconEdit.className = 'fa-regular fa-pen-to-square';
        this.eButtonEdit.appendChild(iconEdit);

        // Delete button setup
        this.eButtonDelete = document.createElement('button');
        this.eButtonDelete.className = 'px-2 rounded-md bg-red-500 text-red-50 hover:bg-red-600 hover:text-zinc-900 hover-anim';
        const iconDelete = document.createElement('i');
        iconDelete.className = 'fa-solid fa-trash';
        this.eButtonDelete.appendChild(iconDelete);

        // Event listeners
        this.eventListenerEdit = () => {
            const itemId = params.data.item_id;
            window.location.href = `edit_item/${itemId}`;
        };

        this.eventListenerDelete = () => {
            const itemId = params.data.item_id; // Get itemId from the row data
            const itemName = params.data.name
            confirmDelete(itemId, itemName); // Trigger confirmDelete with itemId
        };

        this.eButtonEdit.addEventListener('click', this.eventListenerEdit);
        this.eButtonDelete.addEventListener('click', this.eventListenerDelete);

        // Append buttons to the GUI element
        this.eGui.appendChild(this.eButtonEdit);
        this.eGui.appendChild(this.eButtonDelete);
    }

    getGui() {
        return this.eGui;
    }

    refresh(params) {
        return true;
    }

    destroy() {
        if (this.eButtonEdit) {
            // this.eButtonEdit.removeEventListener("click", this.eventListenerEdit);
        }
        if (this.eButtonDelete) {
            // this.eButtonDelete.removeEventListener("click", this.eventListenerDelete);
        }
    }
}

function getColumnDefs() {
    if (window.innerWidth >= 540) {
        return [
            { field: "item_id", headerName: "ID", flex: 0.5 },
            { field: "name", headerName: "Name", filter: "agTextColumnFilter", flex: 2 },
            { field: "description", headerName: "Description",  flex: 1 },
            { 
                field: "category", 
                headerName: "Category", 
                flex: 1, 
                filter: "agTextColumnFilter",
                valueFormatter: (params) => params.value?.name || 'No Category'
            },
            // { field: "rating", headerName: "Rating", filter: "agNumberColumnFilter", flex: 1 },
            { field: "stock", headerName: "Stock", filter: "agNumberColumnFilter", flex: 0.7 },
            { field: "discount", headerName: "Discount", filter: "agNumberColumnFilter", flex: 1 },
            { 
                field: "price", 
                headerName: "Price", 
                filter: "agNumberColumnFilter", 
                flex: 1 ,
                valueFormatter: (params) => {
                    if (params.value != null) {
                        return `Rp. ${params.value.toLocaleString('id-ID')}`;
                    }
                    return "Rp. 0";
                }
            },
            { 
                field: "image", 
                headerName: "Image", 
                flex: 1,
                filter: false,
                cellRenderer: (params) => {
                    return params.value ? `<img src="${params.value}" alt="Product Image" class="" />` : 'No Image';
                }
            },
            { field: "actions", headerName: "Actions", cellRenderer: CustomButtonComponent, filter: false, flex: 1 },
        ];
    } else {
        return [
            { field: "item_id", headerName: "Item ID", flex: 1 },
            { field: "name", headerName: "Name", flex: 1 },
            { field: "category", headerName: "Category", filter: "agTextColumnFilter", flex: 1, valueFormatter: (params) => params.value?.name || 'No Category'},
            { field: "actions", headerName: "Actions", cellRenderer: CustomButtonComponent, filter: false, flex: 1 },
        ];
    }
}

// import { themeQuartz } from '@ag-grid-community/theming';
// // to use myTheme in an application, pass it to the theme grid option
// const myTheme = themeQuartz
// 	.withParams({
//         accentColor: "#818CF8",
//         borderColor: "#4F47E640",
//         browserColorScheme: "light",
//         fontFamily: {
//             googleFont: "Inter"
//         },
//         headerFontSize: 14
//     });


function getPagination () {
    if (window.innerWidth >= 540) {
        return true
    } else {
        return false;
    }
}

var gridOptions = {
    columnDefs: getColumnDefs(),
    defaultColDef: {
        filter: "agTextColumnFilter",
        // floatingFilter: false,
    },
    // rowModelType: 'infinite',
    cacheBlockSize: 60, // Number of rows to fetch per request
    // datasource: {
    //     getRows: function(params) {
    //         const url = '/api/items/';  // Your API endpoint
    //         fetch(url)
    //             .then(response => response.json())
    //             .then(data => {
    //                 params.successCallback(data, data.length);  // Pass data and total count
    //             })
    //             .catch(error => {
    //                 console.error('Error fetching data:', error);
    //                 params.failCallback();
    //             });
    //     }
    // },
    pagination: getPagination(),
    paginationPageSize: 20,
    // themegrid: myTheme(),
};

// -------------- PENTING --------------- //
let api;
document.addEventListener("DOMContentLoaded", function () {
    var myGridElement = document.querySelector("#barangGrid");
    api = agGrid.createGrid(myGridElement, gridOptions);

    fetch('/api/items/')
        .then((response) => response.json())
        .then((data) => {
            api.setGridOption("rowData", data);
        })
})
// -------------- PENTING --------------- //

function destroyGrid() { // Ngehapus grid, referensi saja
    api.destroy();
}

window.addEventListener("resize", () => {

    // Buat ngubah header kolom sesuai ukuran
    if (window.innerWidth <= 540) {
        const newColumnDefs = getColumnDefs();
        api.setGridOption("columnDefs", newColumnDefs);

        const newPagination = getPagination();
        api.setGridOption("pagination", newPagination );
    } else {
        const newColumnDefs = getColumnDefs();
        api.setGridOption("columnDefs", newColumnDefs);
        
        const newPagination = getPagination();
        api.setGridOption("pagination", newPagination );
    }
});

function getCSRFToken() {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    return csrfToken;
}

function confirmDelete(itemsId, itemName) {
    Swal.fire({
        title: `Item akan dihapus ${itemName} ID : ${itemsId}`,
        text: ``,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#ef4444',
        cancelButtonColor: '##e5e7eb',
        confirmButtonText: 'Ya, Hapus!'
    }).then((result) => {
        if (result.isConfirmed) {
            const csrfToken = getCSRFToken();
            // Ini AJAX
            fetch(`delete_item/${itemsId}/`, {
                method: 'POST',
                headers: {
                    // 'X-CSRFToken': '{{ csrf_token }}'
                    'X-CSRFToken': csrfToken 
                }
            }).then(response => {
                if (response.ok) {
                    Swal.fire(
                        'Deleted!',
                        'Item berhasil dihapus.',
                        'success'
                    ).then(() => {
                        // Reload the page after success
                        window.location.reload();
                    });
                } else {
                    Swal.fire(
                        'Error!',
                        'Gagal menghapus item.',
                        'error'
                    );
                }
            });
        }
    });
}
</script>
{% endblock %}