{% extends '../dashboard/dashboard.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}
<div class="flex justify-between mb-2">
    <h1 class="self-center font-bold text-lg">Review Dashboard</h3>
    </div>
    <div id="reviewGrid" class="ag-theme-quartz shadow-lg" style="height: 540px;"></div>
    
    
<script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
<script type="module">
    class CustomButtonComponent {
    eGui;
    // eButtonEdit;
    eButtonDelete;
    // eventListenerEdit;
    eventListenerDelete;

    init(params) {
        this.eGui = document.createElement('div');
        this.eGui.className = 'flex justify-evenly';

        this.eButtonDelete = document.createElement('button');
        this.eButtonDelete.className = 'px-2 rounded-md bg-red-500 text-red-50 hover:bg-red-600 hover:text-zinc-900 hover-anim';
        const iconDelete = document.createElement('i');
        iconDelete.className = 'fa-solid fa-trash';
        this.eButtonDelete.appendChild(iconDelete);

        this.eventListenerDelete = () => {
            const reviewId = params.data.review_id;

            const userName = params.data.user ? params.data.user.username : 'No user'; 
            const itemName = params.data.item ? params.data.item.name : 'No item'; 

            confirmDelete(reviewId, userName, itemName);
        };


        this.eButtonDelete.addEventListener('click', this.eventListenerDelete);

        this.eGui.appendChild(this.eButtonDelete);
    }

    getGui() {
        return this.eGui;
    }

    refresh(params) {
        return true;
    }

    destroy() {
        if (this.eButtonEdit) {
            // this.eButtonEdit.removeEventListener("click", this.eventListenerEdit);
        }
        if (this.eButtonDelete) {
            // this.eButtonDelete.removeEventListener("click", this.eventListenerDelete);
        }
    }
}

var filterParams = {
    comparator: (filterLocalDateAtMidnight, cellValue) => {
        var dateAsString = cellValue;
        if (dateAsString == null) return -1;
        var dateParts = dateAsString.split("/");
        var cellDate = new Date(
            Number(dateParts[2]),
            Number(dateParts[1]) - 1,
            Number(dateParts[0]),
        );

        if (filterLocalDateAtMidnight.getTime() === cellDate.getTime()) {
            return 0;
        }

        if (cellDate < filterLocalDateAtMidnight) {
            return -1;
        }

        if (cellDate > filterLocalDateAtMidnight) {
            return 1;
        }
        return 0;
    },
};

function getColumnDefs() {
    if (window.innerWidth >= 540) {
        return [
            { field: "review_id", headerName: "Review Id", flex: 1 },
            { field: "review_text", headerName: "Review", filter: "agTextColumnFilter", flex: 2 },
            { field: "rating", headerName: "Rating",  flex: 1 },
            { 
                field: "item", 
                headerName: "Item ID", 
                flex: 1, 
                filter: "agNumberColumnFilter",
                valueGetter: (params) => {
                    return params.data.item ? params.data.item.item_id : '';
                },
            },
            { 
                field: "user", 
                headerName: "User ID", 
                filter: "agNumberColumnFilter", 
                flex: 1 ,
                valueGetter: (params) => {
                    return params.data.user ? params.data.user.id : '';
                },
                valueFormatter: (params) => {
                    const user = params.value ? params.data.user : null;
                    return user ? `${user.id} | ${user.username}` : 'No User';
                }
            },
            { field: "price", headerName: "Price", filter: "agNumberColumnFilter", flex: 1 },
            { 
                field: "image", 
                headerName: "Image", 
                flex: 1,
                filter: false,
                cellRenderer: (params) => {
                    return params.value ? `<img src="${params.value}" alt="Product Image" class="" />` : 'No Image';
                }
            },
            { 
                field: "created_at", 
                headerName: "Created", 
                filter: "agDateColumnFilter",
                filterParams: filterParams,
                flex: 1 
            },
            { field: "actions", headerName: "Actions", cellRenderer: CustomButtonComponent, filter: false, flex: 1 },
        ];
    } else {
        return [
            { field: "review_id", headerName: "Review Id", flex: 1 },
            { field: "review_text", headerName: "Review", filter: "agTextColumnFilter", flex: 2 },
            { field: "rating", headerName: "Rating",  flex: 1 },
            { field: "actions", headerName: "Actions", cellRenderer: CustomButtonComponent, filter: false, flex: 1 },
        ];
    }
}

function getPagination () {
    if (window.innerWidth >= 540) {
        return true
    } else {
        return false;
    }
}

var gridOptions = {
    columnDefs: getColumnDefs(),
    defaultColDef: {
        filter: "agTextColumnFilter",
        // floatingFilter: false,
    },
    cacheBlockSize: 60, 
    pagination: getPagination(),
    paginationPageSize: 20,
};

// -------------- PENTING --------------- //
let api;
document.addEventListener("DOMContentLoaded", function () {
    var myGridElement = document.querySelector("#reviewGrid");
    api = agGrid.createGrid(myGridElement, gridOptions);

    fetch('/api/reviews/')
        .then((response) => response.json())
        .then((data) => {
            api.setGridOption("rowData", data);
        })
})
// -------------- PENTING --------------- //

function destroyGrid() { // Ngehapus grid, referensi saja
    api.destroy();
}

window.addEventListener("resize", () => {

    // Buat ngubah header kolom sesuai ukuran
    if (window.innerWidth <= 540) {
        const newColumnDefs = getColumnDefs();
        api.setGridOption("columnDefs", newColumnDefs);

        const newPagination = getPagination();
        api.setGridOption("pagination", newPagination );
    } else {
        const newColumnDefs = getColumnDefs();
        api.setGridOption("columnDefs", newColumnDefs);
        
        const newPagination = getPagination();
        api.setGridOption("pagination", newPagination );
    }
});

function getCSRFToken() {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    return csrfToken;
}

function confirmDelete(reviewId, userName, itemName) {
    Swal.fire({
        title: `Review pada ${itemName} oleh ${userName} akan dihapus ID : ${reviewId}`,
        text: `Review tidak akan bisa dikembalikan! ID : ${reviewId}`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#ef4444',
        cancelButtonColor: '##e5e7eb',
        confirmButtonText: 'Ya, Hapus!'
    }).then((result) => {
        if (result.isConfirmed) {
            const csrfToken = getCSRFToken();
            // Ini AJAX
            fetch(`/reviews/delete/${reviewId}/`, {
                method: 'POST',
                headers: {
                    // 'X-CSRFToken': '{{ csrf_token }}'
                    'X-CSRFToken': csrfToken 
                }
            }).then(response => {
                if (response.ok) {
                    Swal.fire(
                        'Deleted!',
                        'Review berhasil dihapus.',
                        'success'
                    ).then(() => {
                        // Reload the page after success
                        window.location.reload();
                    });
                } else {
                    Swal.fire(
                        'Error!',
                        'Gagal menghapus review.',
                        'error'
                    );
                }
            });
        }
    });
}
</script>
{% endblock %}