{% extends '../layout.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}
{% load static %}
<!-- Carousel -->
<section class="flex justify-center my-6 md:px-16 px-2">
    <div class="relative overflow-hidden rounded-xl lg:h-96 h-72 w-full select-none">
        <div class="flex transition-transform duration-500 ease-in-out" id="carousel">
            <div class="flex-shrink-0 w-full lg:h-96 h-72 bg-indigo-500 flex items-center justify-center text-white text-2xl">
                Slide 1
            </div>
            <div class="flex-shrink-0 w-full lg:h-96 h-72 bg-blue-500 flex items-center justify-center text-white text-2xl">
                Slide 2
            </div>
            <div class="flex-shrink-0 w-full lg:h-96 h-72 bg-green-500 flex items-center justify-center text-white text-2xl">
                Slide 3
            </div>
        </div>

        <button id="hero-button-left" onclick="prevSlide()"
            class="swiper-carousel-button-left"><i class="fa-solid fa-chevron-left"></i></button>
        <button id="hero-button-right" onclick="nextSlide()"
            class="swiper-carousel-button-right"><i class="fa-solid fa-chevron-right"></i></button>

        <div class="absolute bottom-4 left-0 right-0 flex justify-center space-x-2">
            <button class="w-3 h-3 bg-gray-400 rounded-full" onclick="goToSlide(0)" id="dot0"></button>
            <button class="w-3 h-3 bg-gray-400 rounded-full" onclick="goToSlide(1)" id="dot1"></button>
            <button class="w-3 h-3 bg-gray-400 rounded-full" onclick="goToSlide(2)" id="dot2"></button>
        </div>
    </div>
</section>

<!-- Product Swiper / Carousel -->
<section class="flex justify-center md:px-16 px-2">
    <div class="py-2 w-full">
        <p class="mb-3 text-xl font-semibold">Rekomendasi Produk</p>
        <div class="grid grid-cols-2 lg:grid-cols-6 md:grid-cols-5 xs:grid-cols-4 gap-3">

            <!-- Items -->
            <a href="{% url 'tokom:product_details' %}"> <!-- Sementara -->
                <div class="flex flex-col rounded-lg shadow-md hover:shadow-lg">
                    <div class="card-img-container">
                        <img class="card-img h-40"
                        src="https://nzxt.com/assets/cms/34299/1712947669-h7-flow-hero-white.png?ar64=MTox&auto=format&dpr=1.5&fit=crop&h=400&w=400" alt="">
                    </div>
                    <div class="p-3 h-28">
                        <div class="text-yellow-300 text-sm">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="text-sm line-clamp-2 max-w-full">
                            NZXT H7 Flow 2024 - Mid-Tower ATX Airflow Case - Includes Pre-Installed 3 x 120mm Fans - CM-H72FW-01 - Supports Bottom Fans for Dedicated GPU Cooling - Cable Management - White 
                        </p>
                        <p class="text-sm font-semibold truncate max-w-full">
                            Rp. 1.890.000
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'tokom:product_details' %}"> <!-- Sementara -->
                <div class="flex flex-col rounded-lg shadow-md hover:shadow-lg">
                    <div class="card-img-container">
                        <img class="card-img h-40"
                        src="https://dlcdnwebimgs.asus.com/files/media/C5C2F2D6-2F91-45B6-A49C-1318C35783DC/v1/img/explosion/pd.png" alt="">
                    </div>
                    <div class="p-3 h-28">
                        <div class="text-gray-400 text-sm">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="text-sm line-clamp-2 max-w-full">
                            ROG Strix GeForce RTX 4090 24GB GDDR6X White OC Edition
                        </p>
                        <p class="text-sm font-semibold truncate max-w-full">
                            Rp. 36.500.0000
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'tokom:product_details' %}"> <!-- Sementara -->
                <div class="flex flex-col rounded-lg shadow-md hover:shadow-lg">
                    <div class="card-img-container">
                        <img class="card-img h-40"
                        src="https://www.amd.com/content/dam/amd/en/images/products/processors/ryzen/2505503-ryzen-7-7800x3d.jpg" alt="">
                    </div>
                    <div class="p-3 h-28">
                        <div  class="text-gray-400 text-sm">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="text-sm line-clamp-2 max-w-full">
                            AMD Ryzen™ 7 7800X3D Gaming Processor
                        </p>
                        <p class="text-sm font-semibold truncate max-w-full">
                            Rp. 7.875.000
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'tokom:product_details' %}"> <!-- Sementara -->
                <div class="flex flex-col rounded-lg shadow-md hover:shadow-lg">
                    <div class="card-img-container">
                        <img class="card-img h-40"
                        src="https://www.asus.com/microsite/motherboard/AMD-AM5-X670-B650/websites/img/pd/ROG-STRIX-X670E-A-GAMING-WIFI.png" alt="">
                    </div>
                    <div class="p-3 h-28">
                        <div class="text-gray-400 text-sm">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="text-sm line-clamp-2 max-w-full">
                            ROG Strix X670E-A Gaming WiFi 
                        </p>
                        <p class="text-sm font-semibold truncate max-w-full">
                            Rp. 7.310.000
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Brand Swipper -->
<section class="flex justify-center mb-10 md:px-16 px-2">
    <div class="py-2 w-full">
        <p class="mb-3 text-xl font-semibold">Brand Unggulan</p>
        <div class="relative w-full">
            <button id="left-button" class="swiper-carousel-button-left">
                <i class="fa-solid fa-chevron-left"></i>
            </button>

            <div id="" class="swiper-container">
                <div class="swiper-brand">
                    <img class="object-contain min-w-full h-auto self-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/AMD_Logo.svg/1200px-AMD_Logo.svg.png" alt="">
                </div>
                <div class="swiper-brand">
                    <img class="object-contain min-w-full h-auto self-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Intel_logo_2023.svg/1024px-Intel_logo_2023.svg.png" alt="">
                </div>
                <div class="swiper-brand">
                    <img class="object-contain min-w-full h-auto self-center" src="https://upload.wikimedia.org/wikipedia/id/thumb/a/a4/NVIDIA_logo.svg/1024px-NVIDIA_logo.svg.png" alt="">
                </div>
                <div class="swiper-brand">
                    <img class="object-contain min-w-full h-auto self-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/ASUS_Logo.svg/1024px-ASUS_Logo.svg.png" alt="">
                </div>
                <div class="swiper-brand">
                    <img class="object-contain min-w-full h-auto self-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/ASRock_Logo.svg/1024px-ASRock_Logo.svg.png" alt="">
                </div>
                <div class="swiper-brand">
                    <img class="object-contain min-w-full h-auto self-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Micro-Star_International_logo.svg/1024px-Micro-Star_International_logo.svg.png" alt="">
                </div>
            </div>

            <button id="right-button" class="swiper-carousel-button-right">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
    </div>
</section>
{% endblock %}