{% extends '../dashboard/form-header.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

<section class="bg-slate-100 min-h-[100vh]">
  <div class="py-1 md:py-10 lg:px-28 md:px-8 justify-center space-y-4">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs text-sm">
      <ul>
        <li>
          <a href="{% url 'tokom:cart' %}">
            <span class="inline-flex items-center gap-2">
              <i class="fa-regular fa-square-check"></i>
              Cart
            </span>
          </a>
        </li>
        <li>
          <span class="inline-flex items-center gap-2">
            <i class="fa-solid fa-money-bill"></i>
            Checkout
          </span>
        </li>
      </ul>
    </div>

    <h1 class="font-semibold text-2xl text-center">Checkout</h1>
    <div class="flex flex-col md:flex-row gap-4">

      <!-- Checkout Form -->
      <div class="bg-white md:w-2/3 md:rounded-md p-4 md:p-12">
        <form action="{% url 'tokom:checkout' %}" method="POST" class="space-y-4">
          {% csrf_token %}
          {% if error %}
          <div class="alert alert-error text-red-500 font-medium">
            {{ error }}
          </div>
          {% endif %}

          <!-- Full Name -->
          <div class="space-y-2">
            <label for="fullname" class="font-semibold">Fullname</label>
            <div class="form-control border rounded-lg">
              <input type="text" name="fullname" id="fullname" placeholder="Fullname" class="input input-bordered w-full" required />
            </div>
          </div>

          <!-- Phone Number -->
          <div class="space-y-2">
            <label for="phone" class="font-semibold">Phone Number</label>
            <div class="form-control border rounded-lg">
              <input type="text" name="phone" id="phone" placeholder="Phone Number" class="input input-bordered w-full" required />
            </div>
          </div>

          <!-- Address -->
          <div class="space-y-2">
            <label for="address" class="font-semibold">Address</label>
            <div class="form-control border rounded-lg">
              <textarea name="address" id="address" placeholder="Street Address, City, Postal Code" class="textarea textarea-bordered w-full resize-none" rows="3" required></textarea>
            </div>
          </div>

          <!-- Save Address -->
          <div class="form-control">
            <label class="cursor-pointer flex gap-2 items-center">
              <input type="checkbox" name="save_address" class="checkbox checkbox-md [--chkbg:theme(colors.indigo.500)]" />
              <span>Save as default address</span>
            </label>
          </div>

          <!-- Payment Section -->
          <div class="space-y-2">
            <label for="" class="font-semibold">Payment</label>
            <div class="form-control border rounded-lg w-1/3 p-1">
              <label class="label cursor-pointer">
                <span class="label-text">Cash on Delivery (COD)</span>
                <input type="radio" name="payment" value="cod" checked class="radio [--chkbg:theme(colors.indigo.500)]" />
              </label>
            </div>
          </div>

          <button type="submit" class="btn btn-primary bg-indigo-500 hover:bg-indigo-600 w-full">Place Order</button>
        </form>
      </div>

      <!-- Cart Summary -->
      <div class="md:w-1/2">
        <div class="flex w-full flex-col bg-white md:rounded-md p-1 md:p-5 md:top-0 space-y-2">
          {% if cart|length > 0 %}
          <h1 class="font-semibold text-xl">Cart Detail</h1>
          <hr />
          {% for item in cart %}
          <div class="flex w-full md:pl-1 md:py-5 md:pr-5 gap-4">
            <a href="" class="flex-none md:w-1/5 w-1/4 pl-1 h-full self-center">
              <img class="object-contain w-full h-16 transition-transform duration-300 transform hover:scale-110" src="{{ item.item.image.url }}" alt="{{ item.item.name }}" />
            </a>
            <div class="flex flex-grow flex-col md:p-0 py-5">
              <a href="" class="line-clamp-2 w-fit text-sm">{{ item.item.name }}</a>
              <p class="block font-thin text-sm">Quantity: {{ item.quantity }}</p>
              <p class="block font-bold text-sm">Rp. {{ item.total_price|intcomma }}</p>
            </div>
          </div>
          <hr />
          {% endfor %}
          <div class="flex lg:flex-row md:flex-col justify-between">
            <h1 class="font-medium">Total :</h1>
            <span class="font-semibold">Rp. {{ cart.get_total_price|intcomma }}</span>
          </div>
          <hr />
          {% else %}
          <p class="text-center py-10">
            Your cart is empty. <a href="{% url 'tokom:home' %}" class="text-indigo-500 font-semibold">Shop now!</a>
          </p>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</section>

<script src="{% static 'js/control.js' %}"></script>
{% endblock %}
