{% extends '../layout.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}
{% load static %}
<section class="mx-auto px-4 md:px-16 py-4">
    <div class="flex flex-col md:flex-row h-full">
        <!-- Product Image Section -->
        <div class="flex justify-center items-center w-full md:w-1/3 rounded-lg">
            <img class="product-details-img" 
                src="https://nzxt.com/assets/cms/34299/1712947669-h7-flow-hero-white.png?ar64=MTox&auto=format&dpr=1.5&fit=crop&h=400&w=400" 
                alt="Product Image">
        </div>

        <!-- Product Details Section -->
        <div class="product-details-info-container">
            <div>
                <h1 class="text-xl md:text-2xl font-semibold mb-2">
                    NZXT H7 Flow 2024 - Mid-Tower ATX Airflow Case - Includes Pre-Installed 3 x 120mm Fans - CM-H72FW-01 - Supports Bottom Fans for Dedicated GPU Cooling - Cable Management - White 
                </h1>
                <div class="product-details-stars mb-2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span class="text-gray-500">(3)</span>
                </div>
                <hr class="product-details-separator-xs">
                <p class="text-sm font-light text-gray-700 leading-relaxed">
                    Experience peak performance within an innovative compact dual-chamber. Prioritizing GPU cooling, the H6 Flow's
                    panoramic glass showcases the interior while freeing up space for improved airflow. Wraparound glass panels 
                    with a seamless edge provide an unobstructed view of the inside to highlight key components.
                </p>
            </div>
        </div>
    </div>
    
    <!-- Separator -->
    <hr class="w-screen md:w-full h-2 md:h-px bg-gray-200 border-0 dark:bg-gray-700 mb-4 -mx-4 md:mx-0">

    <!-- Review Section -->
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-3/5 p-2">
            <h1 class="text-2xl font-semibold mb-2">Review</h1>
            <div>

                <!-- Bintang -->
                <div class="mt-2 flex items-center gap-2 sm:mt-0">
                    <div class="product-details-stars mb-2">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span class="text-gray-500 text-sm">(3) Reviews</span>
                    </div>
                </div>

                <!-- Statistic Bintang -->
                <div class="mb-6 gap-4 flex flex-col sm:items-start md:mb-8">
                    <p class="text-2xl font-semibold leading-none text-gray-900 dark:text-white">5 out of 5</p>
                
                    <div class="mt-6 min-w-0 flex-1 w-full space-y-3 sm:mt-0">
                        <div class="flex items-center gap-2">
                            <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">5</p>
                            <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                            </svg>
                            <div class="h-1.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
                                <div class="h-1.5 rounded-full bg-yellow-300" style="width: 100%"></div>
                            </div>
                            <a href="#"
                                class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">3
                                <span class="hidden sm:inline">reviews</span></a>
                        </div>
                
                        <div class="flex items-center w-full gap-2">
                            <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">4</p>
                            <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                            </svg>
                            <div class="h-1.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
                                <div class="h-1.5 rounded-full bg-yellow-300" style="width: 0%"></div>
                            </div>
                            <a href="#"
                                class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">0
                                <span class="hidden sm:inline">reviews</span></a>
                        </div>
                
                        <div class="flex items-center w-full gap-2">
                            <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">3</p>
                            <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                            </svg>
                            <div class="h-1.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
                                <div class="h-1.5 rounded-full bg-yellow-300" style="width: 0%"></div>
                            </div>
                            <a href="#"
                                class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">0
                                <span class="hidden sm:inline">reviews</span></a>
                        </div>
                
                        <div class="flex items-center w-full gap-2">
                            <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">2</p>
                            <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                            </svg>
                            <div class="h-1.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
                                <div class="h-1.5 rounded-full bg-yellow-300" style="width: 0%"></div>
                            </div>
                            <a href="#"
                                class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">0
                                <span class="hidden sm:inline">reviews</span></a>
                        </div>
                
                        <div class="flex items-center w-full gap-2">
                            <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">1</p>
                            <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                            </svg>
                            <div class="h-1.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
                                <div class="h-1.5 rounded-full bg-yellow-300" style="width: 0%"></div>
                            </div>
                            <a href="#"
                                class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">0
                                <span class="hidden sm:inline">reviews</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr class="product-details-separator-xs">

                <!-- Add Review Here -->
                <div>
                    <div class="space-y-2">
                        <div class="flex space-x-2">
                            <img class="w-10 h-10 rounded-full" src="{% static 'sementara/alianur.jpg' %}" alt="Rounded avatar">
                            <div class="">
                                <div class="product-details-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <p class="font-normal text-gray-400">1 day ago</p>
                                </div> 
                                <h6 class="font-semibold">Alianur</h6>
                            </div>                            
                        </div>
                        <div class="space-y-3">
                            <h6 class="line-clamp-4" >Barangnya bagus, anak saya jadi senang soalnya warna nya clean</h6>
                            <img class="w-40 h-40 object-scale-down object-left" src="https://m.media-amazon.com/images/I/71Gl6jhxKjL.jpg" alt="">
                        </div>
                    </div>
                    <hr class="product-details-separator-xs">
                </div>
                <div>
                    <div class="space-y-2">
                        <div class="flex space-x-2">
                            <img class="w-10 h-10 rounded-full" src="{% static 'sementara/reyhan.jpg' %}" alt="Rounded avatar">
                            <div class="">
                                <div class="product-details-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <p class="font-normal text-gray-400">1 day ago</p>
                                </div> 
                                <h6 class="font-semibold">Muhammad Reyhanafi</h6>
                            </div>                            
                        </div>
                        <div class="space-y-3">
                            <h6 class="line-clamp-4" >
                                Casingnya bagus warnanya clean minimalis cocok buat kamar saya, dapet kipas gratis 4 biji lagi,
                                satunya saya taro disebelah kasur buat ngademin badan.
                            </h6>
                            <img class="w-40 h-40 object-scale-down object-left" src="https://m.media-amazon.com/images/I/711Kv8VhSbL._UX352.jpg" alt="">
                        </div>
                    </div>
                    <hr class="product-details-separator-xs">
                </div>
                <div>
                    <div class="space-y-2">
                        <div class="flex space-x-2">
                            <img class="w-10 h-10 rounded-full" src="{% static 'sementara/dustin.jpg' %}" alt="Rounded avatar">
                            <div class="">
                                <div class="product-details-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <p class="font-normal text-gray-400">1 day ago</p>
                                </div> 
                                <h6 class="font-semibold">Dustin Hessel Kopalit</h6>
                            </div>                            
                        </div>
                        <div class="space-y-3">
                            <h6 class="line-clamp-4" >
                                Lumayan keren buat manen sawit, warnanya bagus, build kualitinya kokoh muat buat RTX 4090 yang baru dibeli,
                                pengirimannya cepet gak sampe 1 hari sampai ke telen dari amerika.
                            </h6>
                            <img class="w-40 h-40 object-scale-down object-left" src="https://m.media-amazon.com/images/I/71lBOd8k7bL._UX352.jpg" alt="">
                        </div>
                    </div>
                    <hr class="product-details-separator-xs">
                </div>

            </div>
        </div>

        <!-- Price & Add to Cart Section -->
        <div class="flex w-full md:w-2/5 rounded-lg py-2">
            <div class="buy-info">
                <h2 class="text-2xl font-semibold mb-4">Rp. 1.299.000</h2>
                <hr class="w-full h-px bg-gray-200 border-0 dark:bg-gray-700 mb-4">
                <div class="flex items-center space-x-4 mt-4">

                    <!-- Quantity Selector -->
                    <div class="flex flex-grow items-center border border-gray-300 rounded-2xl">
                        <button class="product-details-quantity-button left">-</button>
                        <h4 class="product-details-quantity-button symbol">1</h4>
                        <button class="product-details-quantity-button rigth">+</button>
                    </div>
                
                    <!-- Add to Cart Button -->
                    <button class="product-details-cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
                <button class="product-details-buy-button">
                    Buy Now
                </button>
            </div>
        </div>
    </div>

</section>
{% endblock %}