{% extends '../layout.html' %}
{% block title %} Review {% endblock %}
{% block content %}
{% load static %}
{% load humanize %}
<section class="bg-slate-100 md:px-16 md:py-8">
    <div class="flex flex-col md:px-16 md:py-8 p-3 bg-white space-y-4">
        <h1 class="font-bold text-xl">Write a Review for {{ item.name }}</h1>
        <hr>
        <div class="flex self-center lg:w-1/2 w-80 space-x-2 p-2 border rounded-xl shadow-md">
            <img class="w-32 rounded-md object-cover" src="{{ item.image.url }}" alt="{{ item.name }}">
            <div class="">
                <h1 class="font-semibold text-xl">{{ item.name }}</h1>
                <p class="line-clamp-2">{{ item.description }}</p>
                <p class="font-semibold">Rp. {{ item.price|intcomma }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data" 
            class="flex flex-col justify-center space-y-2">
            {% csrf_token %}
            <div id="starContainer" class="text-center text-2xl cursor-default">
                <i onclick="reviewStar(1)" class="fa-regular fa-star cursor-pointer"></i>
                <i onclick="reviewStar(2)" class="fa-regular fa-star cursor-pointer"></i>
                <i onclick="reviewStar(3)" class="fa-regular fa-star cursor-pointer"></i>
                <i onclick="reviewStar(4)" class="fa-regular fa-star cursor-pointer"></i>
                <i onclick="reviewStar(5)" class="fa-regular fa-star cursor-pointer"></i>
            </div>
            <textarea name="review_text" placeholder="Write your review" rows="4" 
                class="textarea-bordered rounded-xl ring-indigo-500 resize-none"></textarea>
                <div class="flex flex-col md:flex-row justify-between">
                    <input type="file" id="id_image" onchange="PreviewImage()" class="file-input file-input-bordered w-1/3  " name="image"><br>
                    <img id="imgPreview" class="w-24 xs:w-44 max-h-24 object-cover" src="" alt="">
                </div>
            <input class="invisible" id="ratingReviewValue" type="number" name="rating" step="0.1" min="1" max="5" placeholder="Rating (out of 5)" required>
            <button type="submit"
                class="bg-indigo-500 hover:bg-indigo-600 text-white px-6 py-3 w-44 self-center rounded-xl ">
                Submit Review
            </button>
        </form>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      reviewStar(1); // Initialize the stars based on the current value
    });

    function PreviewImage() {
    const fileInput = document.getElementById('id_image');
    if (fileInput.files) {
        const oFReader = new FileReader();
        oFReader.readAsDataURL(fileInput.files[0]);
        oFReader.onload = function (oFREvent) {
            const imgPreview = document.getElementById('imgPreview');
            if (imgPreview && oFREvent.target) {
                imgPreview.src = oFREvent.target.result;
            }
            imgPreview === null || imgPreview === void 0 ? void 0 : imgPreview.className;
        };
    }
    ;
}
</script>
{% endblock %}
