{% extends '../auth.html' %}
{% block title %} Login {% endblock %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<section class="flex flex-col items-center">
    <img class="mt-16 max-w-full h-auto object-contain md:w-36 w-20 " src="{% static 'asset/logo.png' %}" alt="">
    <div class="w-">
        <div class="max-w-xs mx-auto mt-4 p-6 bg-white border border-gray-200 rounded-lg shadow-md">
            <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">Sign In</h1>
        
            <!-- Warning -->
            {% if messages %}
                <div class="mb-4">
                    {% for message in messages %}
                        <div class="text-sm {% if message.tags == 'error' %}text-red-500{% else %}text-green-500{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        
            <form method="post">
                {% csrf_token %}
                
                <!-- Username -->
                <div class="mb-4">
                    {{ form.username.errors }}
                    <label for="id_username" class="block text-sm font-medium text-gray-600">Username</label>
                    {{ form.username|add_class:"mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" }}
                </div>
        
                <!-- Password -->
                <div class="mb-6">
                    {{ form.password.errors }}
                    <label for="id_password" class="block text-sm font-medium text-gray-600">Password</label>
                    {{ form.password|add_class:"mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" }}
                </div>
        
                <button type="submit" class="w-full py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Login
                </button>
            </form>
        </div>

        <!-- Register button -->
        <div class="flex items-center justify-center w-full">
            <hr class="w-full sm:w-64 h-px my-6 bg-gray-200 border-0 dark:bg-gray-700">
            <span class="absolute px-3 font-medium text-gray-500 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">Don't have an account ?</span>
        </div>
        <button class="w-full mx-auto p-1 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-50">
            <a href="{% url 'auth_app:register' %}">Create your account here</a>
        </button>
    </div>
</section>
{% endblock %}